// clearfix : append the pseudo-element after the element, which will then clear these floats 

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both; //clear both left or right for float 
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}