/*
COLORS:
    Light green: #7ed56f
    Medium green: #55c57a
    Dark green: #28b485  
*/
*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 95vh;
  /* 95% of viewport height */
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* try to fit the width of viewport/element */
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  /* clip path: clip image */
}

.header_logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header_logo {
  height: 3.5rem;
}

.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* remove shaky effect */
  margin-bottom: 60px;
}

.heading-primaryprimary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  /* animation-delay: 3s; */
}

.heading-primaryprimary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

/* ANIMATIONS  */
@-webkit-keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  /* end */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /* back to original  */
  }
}
@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  /* end */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /* back to original  */
  }
}

@-webkit-keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  /* end */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /* back to original  */
  }
}

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  /* end */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /* back to original  */
  }
}

@-webkit-keyframes moveInBottom {
  /* start */
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  /* end */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /* back to original  */
  }
}

@keyframes moveInBottom {
  /* start */
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  /* end */
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /* back to original  */
  }
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 48px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white-white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  /* put behind actual btn */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* defines the positions of the elements if they r on top of another */
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  /* animation: name, duration, ease-out, timing */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  /* auto apply style up to 0% before animation starts */
}
/*# sourceMappingURL=main.css.map */