.composition {
    position: relative; //positioned according to the composition element 

    //class: composition__photo
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute; 
        z-index: 10;  //lower z-index stay behind the pics
        transition: all .2s; //animation for all images 
        outline-offset: 2rem; //offset the outline of the images 


        //class: composition__photo--p1
        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1rem solid $color-primary; //outline of the images 
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20; //higher z-index stay on top
        }
    }

    //composition:hover composition__photo:not::hover
    &:hover &__photo:not(:hover) {
        transition: scale(.95);
    }
}