.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  //skew the entire section
  transform: skewY(-7deg);
  margin-top: -10rem; //fit the skew page 

  // .section-features > *  
  // skew back the child elements (make it straight)
  //  -- direct child selector >
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 15rem 0;
}

.section-stories {
  position: relative;
  padding: 15rem 0; 
}
